services:
  api:
    image: ghcr.io/payetonkawa-epsi-2025/products/paye-ton-kawa--products
    environment:
      - DATABASE_DSN=postgres://postgresadmin:postgresadmin@database:5432/products
      - RABBIT_DSN=amqp://guest:guest@rabbit:5672
    ports:
      - 8083:8083
    networks:
      - default
      - tpre814_network
  database:
    image: postgres:17.4-alpine
    environment:
      POSTGRES_USER: postgresadmin
      POSTGRES_PASSWORD: postgresadmin
      POSTGRES_DB: products
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - 5433:5432

volumes:
  db_data:

networks:
  tpre814_network:
    external: true
    name: TPRE814
