services:
  database:
    image: postgres:17.4-alpine
    environment:
      POSTGRES_USER: postgresadmin
      POSTGRES_PASSWORD: postgresadmin
      POSTGRES_DB: products
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - 5433:5432

volumes:
  db_data:

networks:
  tpre814_network:
    external: true
    name: TPRE814
